html {
    scroll-behavior: smooth;
}

body {
    margin: 0 70px 0 70px;
    font-size: 20px;
    background-color: #1e1e1e;
    color: white;
    max-width: 100vw;
}

footer {
    background-color: grey;
    height: 64px;
    bottom: 0;
    position: relative;
    text-align: center;
}

header {
    padding: 16px 0 8px 0;
    border-bottom: solid 2px grey;

}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

a:active {
    background-color: grey;
}

nav {
    height: 64px;
    display: flex;
    justify-content: end;
}


nav ul li {
    display: inline;
    text-align: center;
    padding: 0 35px 0 0;
}

nav ul {
    padding: 0;
}

li, ul {
    margin: 0 0 8px 0;
    padding: 8px 0 0 0;
}

.introduction {
    padding: 0 0 32px 0;
}

img, p {
    width: 50vw;
}


input {
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    display: inline-block;
}

textarea {
    resize: none;
    border-radius: 8px;
    margin: 8px 0;
    border-radius: 8px;
    padding: 12px 20px;
}


.under {
    display: block;
}

.side {
    display: inline-block;
    padding: 0 8px 0 0;
    margin: 8px 8px 0 0;
}

button {
    width: 150px;
    height: 50px;
    background-color: rgb(90, 226, 90);
    margin: 8px 0 8px 0;
    border-radius: 8px;
}

